<div id="<%= dom_id notification %>">
  <p>
    <strong>Type:</strong>
    <%= notification.type %>
  </p>

  <p>
    <strong>Is read:</strong>
    <%= notification.is_read %>
  </p>

  <p>
    <strong>Is archived:</strong>
    <%= notification.is_archived %>
  </p>

</div>
