.new-expense-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;

 .MuiFormControl-root, small, .create-expense-button {
  margin: 1em 0;
  width: 70%;
 }

 .MuiFormControl-root {
  background-color: var(--text-color-light);
  border-radius: 5px;
 }

 .create-expense-button {
  padding: 1em;
  margin-top: 0;
 }

 .buttons {
  margin-top: 2em;
 }

 .disclaimer {
  margin: 0em;
  font-size: small;
 }

 .logo {
  background-color: var(--text-color-light);
  border-radius: 5px;
  border: 4px solid var(--text-color-primary);
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
  padding: 0.4em 1.6em;
  margin: 0;
  margin-top: 0.4em;
  }
}