.new-payment-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

 .MuiFormControl-root, small, .create-payment-button {
  margin: 1em 0;
  width: 70%;
 }

 .MuiFormControl-root {
  background-color: var(--text-color-light);
  border-radius: 5px;
 }

 .create-payment-button {
  padding: 1em;
 }

 .buttons {
  margin-top: 1em;
 }

 .logo {
  background-color: var(--text-color-light);
  border-radius: 5px;
  border: 4px solid var(--text-color-primary);
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  padding: 0.5em 2em;
  margin: 0;
  margin-top: 0.4em;
  }
}