.confirmation-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-color: var(--text-color-light);
  border-radius: 10px;
  height: 90%;
  left: auto;
  right: auto;
  padding-top:1.5em;
  padding-bottom:2em;
  box-shadow: 4px 8px 8px hsl(0deg 0% 1% / .25);

  .greeting {
    font-size: x-large;
    margin-bottom: 2em;
  }

  .sub-text {
    font-size: 14px;
  }

  .bold {
    font-weight: 600;
  }

  .buttons {
    display: flex;
    justify-content: space-around;

    .delete {
      width: 160px;
      height: 60px;
    }
  }
}
