.groups-section {
  display: flex;
  flex-direction: column;
  max-height: 80vh;

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    padding: 0.5em 0;

    h3 {
      margin: 0;
    }
  }

  h2 {
    text-align: center;
    border: 1px solid var(--text-color-light);
    border-left: 0;
    border-right: 0;
    border-top: 0;
    padding-bottom: 1em;
    background-color: var(--primary-color-700);
    margin: 0;
  }

  p {
    margin: 0;
  }

  ul {
    padding: 0;
  }

 



  li {
    list-style-type: none;
  }

  .group-member {
    list-style-type: square;
    padding-left: 1em;
    margin-left: 2em;
  }

  .group-item {
    background-color: var(--primary-color-200);
    color: var(--text-color-primary);
    border-radius: 15px;
    padding: 0.1em 1.5em 1em;
    margin: 1em 0;
    box-shadow: 4px 8px 8px hsl(0deg 0% 1% / .25);
  }

 .group-item:hover {
  box-shadow: 8px 16px 16px hsl(0deg 0% 1% / .5);
  background-color: var(--primary-color-100);

  }
  
  .groups-section-footer {
    display: flex; 
    justify-content: space-between;
    padding: 0.5em;
    bottom: 0;
    background-color: var(--primary-color-700);
    position: sticky;
    width: 21vw;

    .new-group-button, .groups-button {
      padding: 1em 0.5em;
      margin-right: 1em;
    }


  
  }



}