.members-section {
  display: flex;
  flex-direction: column;
  max-height: 80vh;

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    padding: 0.5em 0;

    h3 {
      margin: 0.5em 0;
    }
  }

  p {
    margin: 0;
  }

  ul {
    padding: 0;
  }

  li {
    list-style-type: none;
  }

  .member-item {
    background-color: var(--primary-color-200);
    color: var(--text-color-primary);
    border-radius: 15px;
    padding: 0.1em 1.5em 1em;
    margin: 1em 0;
    box-shadow: 4px 8px 8px hsl(0deg 0% 1% / .25);
    text-wrap:pretty;
    overflow-wrap: break-word;

    li span{
      font-style: italic;
    }
    .member-balance-line:nth-of-type(1) {
      border-top: 1px solid var(--primary-color-400);
    }

    .member-balance-line {
      padding: 0.25em 0 0.25em 0.5em;
      border-bottom: 1px solid var(--primary-color-400);


      .owes, .owed, neutral {
        padding: 0.1em 0.3em;
        font-weight: 900;
      }

      .owes {
        color: rgba(255, 0, 0, 0.7);
      }
      .owed {
        color: rgb(39, 116, 18);
      }
    }
  }

 .member-item:hover {
  box-shadow: 8px 16px 16px hsl(0deg 0% 1% / .5);
  background-color: var(--primary-color-100);

  }
  
  .members-section-footer {
    display: flex; 
    justify-content: space-between;
    align-items: stretch;
    bottom: 0;
    position: sticky;

    .button-all {
      height: 100%;
    }

  }
}