.members-section {
  display: flex;
  flex-direction: column;
  max-height: 80vh;

  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    padding: 0.5em 0;

    h3 {
      margin: 0;
    }
  }

  p {
    margin: 0;
  }

  ul {
    padding: 0;
  }

  li {
    list-style-type: none;
  }

  .member-item {
    background-color: var(--primary-color-200);
    color: var(--text-color-primary);
    border-radius: 15px;
    padding: 0.1em 1.5em 1em;
    margin: 1em 0;
    box-shadow: 4px 8px 8px hsl(0deg 0% 1% / .25);

    li span{
      font-style: italic;
    }
  }

 .member-item:hover {
  box-shadow: 8px 16px 16px hsl(0deg 0% 1% / .5);
  background-color: var(--primary-color-100);

  }
  
  .members-section-footer {
    display: flex; 
    justify-content: space-between;
    align-items: stretch;
    bottom: 0;
    position: sticky;

    .button-all {
      height: 100%;
    }

  }
}