.notifications-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;

  .notifications-sidebar {
    background-color: var(--primary-color-400);
    overflow: auto;
    margin: 1em 1em 0 0;
    padding: 1em;
    min-width: 11em;
    width: 30%;

    .MuiTabs-indicator {
      background-color: var(--primary-color-100)
    }

    .active,
    .inactive {
      cursor: pointer;
      padding: 0.5em;
      margin-top: 0.5em;

      h3 {
        margin: 0
      }
    }

    .active {
      background-color: var(--primary-color-600);
      border-radius: 5px;
    }

    .archive {
      color: var(--primary-color-100);
    }
  }

  .notifications-main {
    background-color: var(--primary-color-400);
    overflow: auto;
    margin-top: 1em;
    padding: 1em;
    min-width: 11em;
    width: 70%;
    max-width: 100vw;

    .notifications-message-body {
      background-color: var(--primary-color-600);
      border-radius: 5px;
      padding: 1em;


      p {
        padding: 0 2em;
        text-wrap: pretty;
      }
    }

  }
}

.notifications-footer {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  bottom: 0;
  position: sticky;

}