.one-section-body{
  display: flex;
  flex-direction: row;
  align-items: stretch;
  color: var(--text-color-light);
  width: 85vw;
  height: 90vh;
  
  .main-article {
    background-color: var(--primary-color-700);
    margin:1em;
    width: 96%;
    height: 96%;
    padding: 1em;
  }

}