.side-nav-bar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 15vw;
  height: 92%;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  // align-items: center;
  background-color: var(--primary-color-100);
  // color: var(--text-color-primary);
  border: 1px solid var(--primary-color-800);
  border-left: 0px;
  border-bottom: 0px;
  // max-height: calc(100vh - 4rem);

  header {
    overflow-y: auto;
    padding-bottom: 3rem;
  }

  a {
    text-decoration: none;
    color: var(--text-color-primary);

  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      padding-left: 1em;
      padding-bottom: .25em;
      padding-top: .25em;
    }
  }

  .active {
    font-weight: 800;
    background-color: var(--primary-color-200);
  }

  li:hover {
    font-weight: 800;
    background-color: var(--primary-color-200);
  }

  #username-header,
  #groupname-header {
    background-color: var(--primary-color-600);
    border: 2px solid var(--text-color-primary);
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    box-shadow: 0 3px 15px black;
  }

  // #groupname-header {
  //   margin-top:0.5em;
  // }


  h2,
  h3 {
    margin: 0;
    border: 0;
    padding: 0;
  }

  #transactions-header,
  #groups-header,
  #group-transactions-header {
    background-color: var(--primary-color-400);
    width: 100%;
    border: 1px solid var(--text-color-primary);
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    margin-top: 0.5em;
    box-shadow: 0 1px 15px rgb(143, 143, 143);

  }

  footer {
    position: absolute;
    bottom: 0;
    background-color: var(--primary-color-100);
    width: 100%;
    border: 2px solid var(--text-color-primary);
    border-left: 0;
    border-right: 0;

    ul li {
      padding-left: 0;
      text-align: center;

    }
  }

  footer:hover {
    font-weight: 800;
    background-color: var(--primary-color-200);

  }



  // Below overrides default accordion values

  .MuiCollapse-root {
    background-color: var(--primary-color-100);
  }

  .MuiAccordionDetails-root {
    padding: 0;
  }

  .css-1086bdv-MuiPaper-root-MuiAccordion-root {
    box-shadow: none;
  }

  .css-eqpfi5-MuiAccordionSummary-content.Mui-expanded,
  .css-eqpfi5-MuiAccordionSummary-content.Mui-expanded,
  .css-1f773le-MuiButtonBase-root-MuiAccordionSummary-root,
  .css-eqpfi5-MuiAccordionSummary-content {
    margin: 0;
  }
}