.side-nav-bar {
  position: fixed;
  left: 0;
  width: 20vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  // align-items: center;
  background-color: var(--primary-color-100);
  // color: var(--text-color-primary);
  border: 1px solid var(--primary-color-800);
  border-left: 0px;
  border-bottom: 0px;
  max-height: calc(100vh - 4rem);
  
  header {
    overflow-y: auto;
    padding-bottom: 3rem;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    li {
      padding-left: 1em;
      padding-bottom: .5em;     

    }
  }

  .active {
    font-weight: 800;
  }
  
  #username-header, #groupname-header {
    background-color: var(--primary-color-600);
    border: 4px solid var(--text-color-primary);
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
  }

  #groupname-header {
    margin-top:0.5em;
  }

  a {
    color: var(--text-color-primary);

  }
  a:hover {
    font-weight: 800;
  }

  h2, h3 {
    margin: 0;
  }

  #transactions-header, #groups-header, #group-transactions-header {
    background-color: var(--primary-color-400);
    width: 100%;
    border: 2px solid var(--text-color-primary);
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    margin-top: 0.5em;
  }

  footer {
    position:absolute;
    bottom: 0;
    background-color: var(--primary-color-100);
    width: 100%;
    border: 2px solid var(--text-color-primary);
    border-left: 0;
    border-right: 0;
  }



  // Below overrides default accordion values

  .MuiCollapse-root {
    background-color: var(--primary-color-100);
  }

  .MuiAccordionDetails-root {
    padding: 0;
  }

  .css-1086bdv-MuiPaper-root-MuiAccordion-root {
    box-shadow: none;
  }

  .css-eqpfi5-MuiAccordionSummary-content.Mui-expanded, .css-eqpfi5-MuiAccordionSummary-content.Mui-expanded, .css-1f773le-MuiButtonBase-root-MuiAccordionSummary-root, .css-eqpfi5-MuiAccordionSummary-content {
    margin: 0;
  }
}