.top-nav-bar {
  position: fixed;
  top: 0;
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color-100);
  color: var(--text-color-primary);
  border: 1px solid var(--primary-color-800);
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  height: 8%;
  z-index: 5;


  .logo {
    margin-left: 1em;
    padding: 0em 1em;
    color: var(--primary-color-800);
    background-color: var(--text-color-light);
    border-radius: 5px;
    border: 2px solid var(--text-color-primary);
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;

    .username {
      padding: 1em;
      font-weight: 500;
    }

    Button {
      margin: .25em;
    }

    .MuiSvgIcon-root {
      // margin: 0 1em;
      font-size: 1em;
      color: var(--primary-color-800);
    }

    .MuiBadge-root {
      margin: 0 1em;
      font-size: 2em;
      color: var(--primary-color-800);
    }

    .MuiSvgIcon-root:hover {
      color: var(--primary-color-500);

    }

  }
}