.top-nav-bar {
  position: fixed;
  top: 0;
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color-100);
  color: var(--text-color-primary);
  border: 1px solid var(--primary-color-800);
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;


  .logo {
    padding-left: 1em;
    color: var(--primary-color-800);
  }

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;

    Button {
      margin: .25em;
    }

    .material-icons {
      margin: .25em;
      color: var(--primary-color-800);
    }

  }
}