
.transaction-details {
  display: flex;
  flex-direction: column;
  // text-align: center;
  background-color: var(--primary-color-700);
  margin: 0;
  border-radius: 5px;
  height: 90%;
  color: white;
  padding: 1em 3em;
  

  h3 {
    text-align: center;
    margin: 0 5em;
    padding-bottom: 0.5em;
    font-size: 1.5em;
    border-bottom: 1px solid white;
  }

  .trans-line {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .Expense, .Payment {
      padding: 0.5em;
      border-radius: 5px;
      border: 0.5px solid var(--primary-color-100);
      
    }

    .Expense {
      background-color: rgba(255, 0, 0, 0.7);
    }
    
    .Payment {
      background-color: rgb(39, 116, 18);
    }

    .member-name {
      font-style: italic;
      font-weight: 500;
    }

  }

  .member-balances {
    margin-left: 2em;
    padding-left: 0.5em;

    h4 {
      border-left: 5px solid var(--primary-color-100);
      padding: 0.5em 1em;
      font-weight: 500;

    }

    .balance {
      justify-content: start;

      .Expense, .Payment {
        padding: 0.2em;
      }
    }
  }

  .transaction-date {
    font-style: italic;
    font-weight: 300;
    font-size: 0.9em;
    padding: 0.5em;
  }
  .sent-posted-heading {
    // font-weight: 300;
    // font-size: 0.9em;
    margin-left: 1em;
    padding: 0.5em;
   
  }

}