<div id="<%= dom_id group %>">
  <p>
    <strong>Name:</strong>
    <%= group.name %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= group.type %>
  </p>

  <p>
    <strong>Is archived:</strong>
    <%= group.is_archived %>
  </p>

</div>
