<div id="<%= dom_id member_transaction %>">
  <p>
    <strong>Type:</strong>
    <%= member_transaction.type %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= member_transaction.amount %>
  </p>

</div>
