<h1>Editing member transaction</h1>

<%= render "form", member_transaction: @member_transaction %>

<br>

<div>
  <%= link_to "Show this member transaction", @member_transaction %> |
  <%= link_to "Back to member transactions", member_transactions_path %>
</div>
