#root {
  max-width: 1280px;
  min-width: 300px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  --primary-color-800: #37474f;
  --primary-color-700: #455a64;
  --primary-color-600: #54637a;
  --primary-color-500: #607d8b;
  --primary-color-400: #78909c;
  --primary-color-300: #90a4ae;
  --primary-color-200: #b0bec5;
  --primary-color-100: #cfd8dc;
  --text-color-primary: #263238;
  --text-color-light: #eceff1;
  --modal-page-background: rgba(81, 81, 81, 0.7);
}

body {
  margin-top: 75px;

  main {
    margin-left: 20vw;
  }

  h2 {
    padding-top: 0em;
    padding-bottom: 1rem;
    margin: 0;
    width: 100%;
    border: 1px solid var(--text-color-light);
    border-left: 0;
    border-right: 0;
    border-top: 0;    
    text-align: center;
  }
}

// Font: https://fonts.google.com/specimen/Roboto
// Weight 100, 300, 400, 500, 700, 900
// all can be italic